.search-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 80%;
  gap: 10px;
  position: relative;
  z-index: 1000;
}

#search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

#search-input:focus {
  border-color: #3498db;
}

#search-btn {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

#search-btn:hover {
  background-color: #27ae60;
}

/* Hasil pencarian */
.search-results {
  position: absolute;
  top: 45px;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.search-item {
  padding: 10px 15px;
  font-size: 13px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.search-item:last-child {
  border-bottom: none;
}

.search-item:hover {
  background-color: #f4f4f9;
}
